<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--服务端IP-->
    <!--<add key="HostName" value="server.natappfree.cc"/>-->
    <add key="ServerIP" value="127.0.0.1"/>
    <!--<add key="ServerIP" value="10.100.10.167"/>-->
    <!--服务端口-->
    <add key="ServerPort" value="3001"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="200"/>
    </connectionManagement>
  </system.net>
</configuration>